{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block page_content %}
<div class="container-fluid">
    <h4>售后列表</h4>
    <form name="form_customerservice" method="post" >
        <!--售后ID{{form.customerservice_id}}-->
        <!--数量{{form.diff}}-->
        操作{{form.oprtype}}
        备注(可为空){{form.comment}}
        筛选条件(可为空){{form.condition}}
         <table  class="table table-hover" id="table_orange">
             <thead>
                 <th>售后ID</th>
                 <th>材料ID</th>
                 <th>材料名称</th>
                 <th>设备ID</th>
                 <th>批次</th>
                 <th>带回数量</th>
                 <!--<th>完好数量</th>-->
                 <th>完好入库数量</th>
                 <th>损坏数量</th>
                 <th>返修数量</th>
                 <th>修好入库数量</th>
                 <th>报废数量</th>
                 <th>售后售出数量</th>
                 <th>售后售出费用</th>
                 <th>备注</th>
                 <th>点选-数量</th>
             </thead>
             {% for entry in customerservice %}
             <tr>
                 <td>{{entry.service_id}}</td>
                 <td>{% if entry.material_id != None %}
                     {{entry.material_id}}
                     {% endif %}
                 </td>
                 <td>{% if entry.material_name != None %}
                     {{entry.material_name}}
                     {% endif %}
                 </td>
                 <td>{% if entry.device_id != None %}
                     {{entry.device_id}}
                     {% endif %}
                 </td>
                 <td>{{entry.batch}}</td>
                 <td>{{entry.originnum}}</td>
                 <!--<td>{{entry.goodnum}}</td>-->
                 <td>{{entry.inboundnum}}</td>
                 <td>{{entry.brokennum}}</td>
                 <td>{{entry.reworknum}}</td>
                 <td>{{entry.restorenum}}</td>
                 <td>{{entry.scrapnum}}</td>
                 <td>{{entry.resalenum}}</td>
                 {% if entry.fee>0 %}
                 <td style="color:red">{{entry.fee}}</td>
                 {% else %}
                 <td>{{entry.fee}}</td>
                 {% endif %}
                 <td>{% if entry.comment != None %}
                 {{entry.comment}}
                 {% endif %}
                 </td>
                 <td><input type="checkbox" name="input_checkbox_{{entry.service_id}}" value="{{entry.service_id}}">
                     <input type="number" name="input_number_{{entry.service_id}}"></td>
             </tr>
             {% endfor %}
         </table>
        {{form.submit}}
    </form>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.form_change_customerservice') }}
</div>
{% endif %}
<p>*带回数量=(完好数量+完好入库数量)+(损坏数量+返修数量+修好入库数量+报废数量)</p>
<p>*欠费清零，不用填写数量</p>
{% endblock %}