{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
{% import "_macros.html" as macros %}

<div>
    <h4>全部操作记录</h4>
    <table class="table table-hover" id="table_orange"><!--table-condensed-->
         <thead>
             <th>操作ID</th>
             <th>库存ID</th>
             <th>库存名</th>
             <th>设备ID</th>
             <th>售后ID</th>
             <th>操作类型</th>
             <th>数量</th>
             <th>批次</th>
             <th>主件</th>
             <th>备注</th>
             <th>用户</th>
             <th>时间</th>
         </thead>
         {% for entry in join_oprs %}
         <tr>
             <td>{{entry.opr_id}}</td>
             <td>{% if entry.material_id != None %}
                 {{entry.material_id}}
                 {% endif %}
             </td>
             <td>{% if entry.material_name != None %}
                 {{entry.material_name}}
                 {% endif %}
             </td>
             <td>{% if entry.device_id != None %}
                 {{entry.device_id}}
                 {% endif %}
             </td>
             <td>{% if entry.service_id != None %}
                 {{entry.service_id}}
                 {% endif %}
             </td>
             <td>{{oprenumCH[entry.oprtype]}}</td>
             <td>{{entry.diff}}</td>
             <td>{{entry.oprbatch}}</td>
             <td>{{entry.isgroup}}</td>
             <td>{% if entry.comment != None %}
                 {{entry.comment}}
                 {% endif %}
             </td>
             <td>{{entry.user_name}}</td>
             <td>{{entry.momentary}}</td>
         </tr>
         {% endfor %}
    </table>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctr.show_join_oprs') }}
</div>
{% endif %}

{% endblock %}
